<html>
<style>
    .block{
        color: navy;
        border: 2px solid black;
        width:20%;
        align:center;
        margin-left:40%;
    }
</style>
<body>
    <div class="block">
        <p>Welcome to my Site</p>
        <p>Here is your DATA</p>
    </div>
    <div class="block">
        <form action="/submit" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your name">
            <input type="submit" value="Submit">
        </form>
    <div>
</body>
</html>
